https://archive.ics.uci.edu/dataset/320/student%2Bperformance?utm_source=chatgpt.com

https://archive.ics.uci.edu/dataset/697/predict%2Bstudents%2Bdropout%2Band%2Bacademic%2Bsuccess?utm_source=chatgpt.com

https://data.mendeley.com/datasets/4mvgvtxc8s/1

In [1]:
import pandas as pd

In [4]:
pd.read_csv(r'https://raw.githubusercontent.com/Wsm-erick/Diplomado/refs/heads/main/Modulo-I/Datasets/student_dataset.csv')

,Student_Names,Phone_No.,Math,Physics,Chemistry,Grade,Comment,Roll No.,School Name,Student Address
0,Donald Contreras,9208625450,76,84,54,B+,Good Pursuance,524613,Martin Luther School,"478 Mooney Park, New Valerie, VI 28836"
1,Joseph Horton,9886408555,91,75,78,A,Very Good Achivement,561635,Martin Luther School,"037 Matthew Shores, Greeneton, CA 98399"
2,Savannah Burns MD,9047592659,64,98,20,C,Below Average Achivement,560985,Martin Luther School,"96124 Lloyd Streets, Edwardmouth, DC 61677"
3,William Carter,9048473864,15,95,32,D,Poor Pursuance,535126,Martin Luther School,"11959 Clark Village, Ivanview, NH 43940"
4,John Rodriguez,9685225730,86,86,66,B+,Good Pursuance,559410,Martin Luther School,"051 Weaver Glen Apt. 724, West Davidborough, M..."
...,...,...,...,...,...,...,...,...,...,...
8995,Kimberly Stevens,9129352703,40,87,65,B,Average Performance,569342,Martin Luther School,"27054 Adrian Streets, Diazmouth, OH 81346"
8996,Kelsey Bonilla,9649715711,56,84,75,B+,Good Pursuance,530124,Martin Luther School,"570 Christopher Run, Williammouth, ND 11535"
8997,Kelly Dunn,9825362271,80,70,16,C,Below Average Achivement,592266,Martin Luther School,"32283 Carpenter Summit, North Patricia, PR 51483"
8998,Joseph Nichols,9363540473,24,95,59,C,Below Average Achivement,583028,Martin Luther School,"2336 Blackburn Fall Apt. 905, South Shelby, ND..."
8999,Susan Armstrong,9879539785,31,76,18,D,Poor Pursuance,503637,Martin Luther School,"2328 Jennifer Extension, Lake David, OR 11243"

In [3]:
pd.read_csv(r'https://raw.githubusercontent.com/Wsm-erick/Diplomado/refs/heads/main/Modulo-I/Datasets/predict_dropout.csv', sep=';')

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [2]:
pd.read_csv(r'https://raw.githubusercontent.com/Wsm-erick/Diplomado/refs/heads/main/Modulo-I/Datasets/var_predict_dropout.csv')

,No.,Variable Original,Descripción,Tipo de Dato,Unidades
0,1,Marital status,Estado civil del estudiante,Categórica,NaN
1,2,Application mode,Modo/canal de aplicación,Categórica,NaN
2,3,Application order,Orden de aplicación (preferencia),Numérica entera,NaN
3,4,Course,Curso/programa matriculado,Categórica,NaN
4,5,Daytime/evening attendance,Régimen: diurno/nocturno,Categórica binaria,NaN
5,6,Previous qualification,Nivel de estudios previos,Categórica,NaN
6,7,Previous qualification (grade),Nota de la calificación previa,Numérica continua,0–200 puntos
7,8,Nacionality,Nacionalidad del estudiante,Categórica,NaN
8,9,Mother's qualification,Nivel educativo de la madre,Categórica,NaN
9,10,Father's qualification,Nivel educativo del padre,Categórica,NaN
10,11,Mother's occupation,Ocupación de la madre,Categórica,NaN
11,12,Father's occupation,Ocupación del padre,Categórica,NaN
12,13,Admission grade,Nota de admisión al curso,Numérica continua,0–200 puntos
13,14,Displaced,Estudiante desplazado de residencia,Categórica binaria,NaN
14,15,Educational special needs,Necesidades educativas especiales,Categórica binaria,NaN
15,16,Debtor,Condición de deudor,Categórica binaria,NaN
16,17,Tuition fees up to date,Pago de colegiatura al día,Categórica binaria,NaN
17,18,Gender,Sexo del estudiante,Categórica binaria,NaN
18,19,Scholarship holder,Estudiante con beca,Categórica binaria,NaN
19,20,Age at enrollment,Edad al inscribirse,Numérica entera,años
20,21,International,Condición internacional,Categórica binaria,NaN
21,22,Curricular units 1st sem (credited),Unidades curriculares acreditadas 1er semestre,Numérica entera,conteo
22,23,Curricular units 1st sem (enrolled),Unidades curriculares inscritas 1er semestre,Numérica entera,conteo
23,24,Curricular units 1st sem (evaluations),Número de evaluaciones 1er semestre,Numérica entera,conteo
24,25,Curricular units 1st sem (approved),Unidades curriculares aprobadas 1er semestre,Numérica entera,conteo
25,26,Curricular units 1st sem (grade),Promedio de calificaciones 1er semestre,Numérica continua,0–20 puntos
26,27,Curricular units 1st sem (without evaluations),Unidades curriculares sin evaluación 1er semestre,Numérica entera,conteo
27,28,Curricular units 2nd sem (credited),Unidades curriculares acreditadas 2º semestre,Numérica entera,conteo
28,29,Curricular units 2nd sem (enrolled),Unidades curriculares inscritas 2º semestre,Numérica entera,conteo
29,30,Curricular units 2nd sem (evaluations),Número de evaluaciones 2º semestre,Numérica entera,conteo
30,31,Curricular units 2nd sem (approved),Unidades curriculares aprobadas 2º semestre,Numérica entera,conteo
31,32,Curricular units 2nd sem (grade),Promedio de calificaciones 2º semestre,Numérica continua,0–20 puntos
32,33,Curricular units 2nd sem (without evaluations),Unidades curriculares sin evaluación 2º semestre,Numérica entera,conteo
33,34,Unemployment rate,Tasa de desempleo en el periodo,Numérica continua,%
34,35,Inflation rate,Tasa de inflación en el periodo,Numérica continua,%
35,36,GDP,Producto Interno Bruto,Numérica continua,€ o índice macroeconómico
36,37,Target,"Resultado final: Dropout, Enrolled, Graduate",Categórica multiclase,NaN

In [ ]:
import pandas as pd
import numpy as np

# Modelado
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

# Métricas
from sklearn.metrics import accuracy_score, f1_score, classification_report, confusion_matrix

# 1) Carga
df = pd.read_csv("data.csv")

# 2) Separar X, y
# Ajusta el nombre exacto si tu CSV difiere (algunas versiones usan 'Target' o 'Status')
target_col = "Target"
X = df.drop(columns=[target_col])
y = df[target_col].astype("category")

# 3) Detectar tipos (puedes hacer una lista manual si prefieres control total)
# Regla: numéricas = int/float; categóricas = object/category/bool
num_cols = X.select_dtypes(include=["int64", "float64", "int32", "float32"]).columns.tolist()
cat_cols = X.select_dtypes(include=["object", "category", "bool"]).columns.tolist()

# (Opcional) si algunas columnas codificadas 0/1 realmente son categóricas ordinales, puedes moverlas manualmente a num_cols/cat_cols

# Transformador de columnas: one-hot a categóricas; escalado SOLO a numéricas
preprocess = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), num_cols),
        ("cat", OneHotEncoder(handle_unknown="ignore", sparse_output=False), cat_cols),
    ],
    remainder="drop",
)

# 4) train/test estratificado (mantener proporción de clases)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=42, stratify=y
)

# 5) Definir tres pipelines (evita fuga de datos al hacer el escalado dentro del pipeline)
pipe_knn = Pipeline(steps=[
    ("prep", preprocess),
    ("clf", KNeighborsClassifier())
])

pipe_log = Pipeline(steps=[
    ("prep", preprocess),
    ("clf", LogisticRegression(max_iter=2000, multi_class="multinomial", n_jobs=None))
])

pipe_tree = Pipeline(steps=[
    ("prep", preprocess),
    ("clf", DecisionTreeClassifier(random_state=42))
])

# 6) Entrenar y evaluar función helper
def evaluar(modelo, nombre):
    modelo.fit(X_train, y_train)
    y_pred = modelo.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    f1m = f1_score(y_test, y_pred, average="macro")
    print(f"\n=== {nombre} ===")
    print(f"Accuracy: {acc:.4f} | F1-macro: {f1m:.4f}")
    print(classification_report(y_test, y_pred))
    print("Matriz de confusión:")
    print(confusion_matrix(y_test, y_pred, labels=y.cat.categories))

evaluar(pipe_knn, "KNN (k=5 por defecto)")
evaluar(pipe_log, "Regresión Logística (multinomial)")
evaluar(pipe_tree, "Árbol de Decisión")

# 7) GridSearch para KNN (elige k óptimo)
param_grid_knn = {
    "clf__n_neighbors": [3,5,7,9,11,13,15],
    "clf__weights": ["uniform", "distance"],
    "clf__p": [1, 2],  # 1=Manhattan, 2=Euclidiana
}
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
grid_knn = GridSearchCV(pipe_knn, param_grid_knn, scoring="f1_macro", cv=cv, n_jobs=-1)
grid_knn.fit(X_train, y_train)

print("\nMejor KNN:", grid_knn.best_params_, "→ F1-macro CV:", grid_knn.best_score_)
# Evaluación final con el mejor KNN en test
y_pred_best = grid_knn.best_estimator_.predict(X_test)
print("\n=== KNN (mejor estimador) ===")
print(f"Accuracy: {accuracy_score(y_test, y_pred_best):.4f} | F1-macro: {f1_score(y_test, y_pred_best, average='macro'):.4f}")
print(classification_report(y_test, y_pred_best))
print("Matriz de confusión:")
print(confusion_matrix(y_test, y_pred_best, labels=y.cat.categories))